/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
:root{
    /* VARIABLES */
    --font-mono: 'Roboto', sans-serif;
    --font-scp: 'Source Code Pro', monospace;
    --border-test: 1px solid red;
}
html, body {
    margin: 0px;
    padding: 0px;
}

/* HEADER */
header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    border-bottom: var(--border-test);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
header > img {
    grid-column-start: 1;
    margin-left: 10px;
    height: 60px;
}
header > p {
    font-family: var(--font-scp);
    font-size: 2em;
    text-align: center;
    margin: 15px;
    grid-column-start: 3;
}
header > ul {
    grid-column-start: 4;
    grid-column-end: 6;
    margin: 0px;
}
header > ul > li {
    float: right;
    padding: 25px;
    margin: 0px;
    list-style-type: none;
}
header > ul > li > a {
    font-family: var(--font-mono);
    text-decoration: none;
}

/* APP */
div.app {
    width: 800px;
    height: 500px;
    margin: 200px auto auto auto;
    position: relative;
    padding: 15px;
    border: var(--border-test);
}
span#quoteArea {
    width: 90%;
    height: 90%;
    border: var(--border-test);
}
div.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    border: var(--border-test);
    width: 800px;
    padding: 15px;
    height: auto;
    margin: 30px auto;
}
div.results {
    border: var(--border-test);
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
}
div.options {
    border: var(--border-test);
    grid-column-start: 3;
}


div.tips {
    width: 350px;
    height: 150px;
    /*---*/
    position: absolute;
    top: 200px;
    right: 90px;
    /*---*/
    color: white;
    background-color: darkred;
    border: var(--border-test);

}

/* FOOTER */
footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    border: var(--border-test);
}
.copyright {
    font-family: var(--font-mono);
    font-size: 0.8em;
    margin: 0px;
}