/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
:root{
    /* VARIABLES */
    --font-mono: 'Roboto', sans-serif;
    --font-scp: 'Source Code Pro', monospace;
    --border-test: 1px solid red;
}
html, body {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-mono);
}
.tooltip {

}
.tooltiptext {

}
/* HEADER */
body > header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    border-bottom: var(--border-test);
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* same as  "repeat(5, 20%);" */

}
body > header img {
    grid-column-start: 1;
    margin-left: 10px;
    height: 60px;
}
body > header p {
    font-family: var(--font-scp);
    font-size: 2em;
    text-align: center;
    margin: 15px;
    grid-column-start: 3;
}
body > header ul {
    grid-column-start: 4;
    grid-column-end: 6;
    margin: 0px;
}
body > header li {
    float: right;
    padding: 25px;
    margin: 0px;
    list-style-type: none;
}
body > header a {
    text-decoration: none;
}

/* APP */
div.app {
    width: 800px;
    height: 500px;
    margin: 100px auto auto auto;
    position: relative;
    padding: 15px;
    border: var(--border-test);
}
span#quoteArea {
    width: 90%;
    height: 90%;
    border: var(--border-test);
}
div.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    border: var(--border-test);
    width: 800px;
    padding: 15px;
    height: auto;
    margin: 15px auto;
}
div.results {
    border: var(--border-test);
    grid-column-start: 1;
    grid-column-end: 3;
    /*---*/
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
}
div.curr-results {
    border: var(--border-test);
}
div.past-resutls {
    border: var(--border-test);
    grid-column-start: -1;
    grid-column-end: -4;
}

div.options {
    border: var(--border-test);
    grid-column-start: 3;
}


aside {
    width: 480px;
    height: 150px;
    /*---*/
    position: absolute;
    top: 100px;
    right: 30px;
    /*---*/
    color: white;
    border: var(--border-test);
}

/* FOOTER */
footer {
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    border: var(--border-test);
}
.copyright {
    font-family: var(--font-scp);
    font-size: 0.7em;
    margin: 0px;
}